<div class="container">
 <h1> All spots</h1>
 <ul>

<% @spots.each do |spot| %>
<li class="cards">
  <%= spot.description%>
  <%= link_to "See more", spot_path(spot)%>
  <%= spot.price %>
</li>

<% end %>

 </ul>

</div>
