
<div class="container">
  <div class="little_navbar">
    <h1> <%= @spot.description %> </h1>
    <p> <%= @spot.address %> </p>
    <p> <%= @spot.city %> </p>
  </div>
  <div class="image_spot">
  </div>

  <p> <%= @spot.price %>  </p>
</div>

