.content-for-nav-and-foot{
  margin-top: 60px;
  min-height: calc(100vh - 140px);
  padding: 10px;
}


.mainBanner {
  background-position: center;
  background-size: cover;
  margin-bottom: 58px;
  padding: 120px 0;
  text-align: center;
  vertical-align: center;
  height: calc(100vh);
}



#myVideo {
  z-index: -10;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.mainBanner h2{
  font-size: 50px;
}

.mainBanner h3{
  font-size: 50px;
  color: white;
}

.h-title1 {
    font-size: 30px;
    font-weight: 300;
}

h2, .h2 {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 24px;
    margin-bottom: 12px;
}

h1, h3, h4, h5, h6, .h1, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 100;
    line-height: 1.1;
    color: inherit;
}

.btn-explorer{
  border-radius: 14px;
  margin: 10px;
  margin-left: 10px;

}

.content-btn-explorer{
  text-align: left;
  margin: 20px;
  text-align: center;
}

.second{
  margin-top:100vh;
  background-color: red;
}

.introSection {
/*  background-color: white;*/
  font-family: 'Roboto', sans-serif;
  margin-bottom: 95px;
  padding: 0px 30px;
  text-align: center;
}

.card-home {
  margin: 10px;
  padding: 50px;
  font-weight: lighter;
  text-align: center;
  background: lightgrey;
  min-height: 200px;
}

.card-home-1 {
  background: url(https://res.cloudinary.com/dkblfugfl/image/upload/v1566554047/filip-mroz--WgTWXb4nh4-unsplash_hruhvx.jpg);
  background-position: 16% 25%;
}

.card-home-2 {
  background: url(https://res.cloudinary.com/dkblfugfl/image/upload/v1566554047/filip-mroz--WgTWXb4nh4-unsplash_hruhvx.jpg);
  background-position: 33% 25%;
}

.card-home-3 {
  background: url(https://res.cloudinary.com/dkblfugfl/image/upload/v1566554047/filip-mroz--WgTWXb4nh4-unsplash_hruhvx.jpg);
  background-position: 130% 25%;
}

.card-home-4 {
  background: url(https://res.cloudinary.com/dkblfugfl/image/upload/v1566554047/filip-mroz--WgTWXb4nh4-unsplash_hruhvx.jpg);
  background-position: 16% 34%;
}

.container-cards {
 margin: auto;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.container-form {
  display: flex;
  align-items: center;
}

.search-btn {
  margin-left: 15px;
}
