// Specific CSS for your home-page //

.mainBanner-title {
    color: #fff;
    margin: auto auto 22px;
    max-width: 100vh;
}



.mainBanner {
    background-image: url("
https://bright-media.brightmls.com/bright/images/0000/3012/9367/9697/301293679697_2048_1536_WM_uZ9Cj8EwsseWXo2V.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 58px;
    padding: 120px 0;
    text-align: center;
    vertical-align: center;
    height: 92vh;
}

.mainBanner h2{
  font-size: 50px;
}

.mainBanner h3{
  font-size: 50px;
  color: white;
}

.h-title1 {
    font-family: "Caslon Becker Graphique";
    font-size: 30px;
    font-weight: 300;
}

h2, .h2 {
    font-size: 32px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 24px;
    margin-bottom: 12px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 100;
    line-height: 1.1;
    color: inherit;
}

.btn-explorer{
  border-radius: 14px;
  margin: 10px;
  margin-left: 10px

}

.content-btn-explorer{
  text-align: left;
  margin: 20px;
}

.introSection {
    margin-bottom: 95px;
    padding: 0px 30px;
    text-align: center;
}




.card-home{
  margin: 10px;
  padding: 50px;
  font-weight: lighter;
  text-align: center;
  background-color: lightgrey;
  min-height: 200px;
}
