<h1>Home</h1>

<%= link_to "All spots",  spots_path %>

<form>
  <div col-xs-24 col-md-20 col-md-push-2>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="City">
    </div>
    <button type="button" class="btn btn-secondary btn-lg">🔎 Rechercher</button>
  </div>
 </div>
</form>



