<h1>Home</h1>

<%= link_to "All spots",  spots_path %>

<form>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="City">
    </div>
    <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Dates">
    </div>
    <button type="button" class="btn btn-secondary btn-lg">🔎 Rechercher</button>
  </div>
 </div>
</form>



