
.mapboxgl-popup {
  max-width: 200px;
}

.tet {
  width: 100%;

}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;

  p {

    a{
    text-decoration: none;
    color:black;
    font-size: bold;
    }
    a:hover {
      color:red;
    }
  }
}

#map {
  flex: 1 1 30%;
  height: 585px;
  position: sticky;
  top: 50px;
}


