
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  flex: 1 1 30%;
  height: 585px;
  position: sticky;
  top: 50px;
}
