.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 60px;
  position: fixed;
  width: 100vw;
  top:0;
  align-items: flex-start;
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
